/*  _main.sass */
/* INCEPTION RULE: DO NOT nest more than 4  */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */

#main
  p
    margin-top: 40px

  > h2
    width: 200px
    margin: 20px auto 0
    
    +tablet
      margin-top: 40px

    +desktop
      width: 250px

  > button
    display: block
    margin: 10px auto 0
    width: 148px
    height: 43px
   
    +desktop
      width: 160px
      height: 80px

.celebration
  margin-top: 30px

  +tablet
    margin-top: 40px

  +desktop
    margin-top: 60px

  h2
    svg
      margin-top: 5px
      width: 150px
      
      +tablet
        width: 300px

      +desktop
        width: 400px

.event-info
  margin: 30px auto 0
  width: 150px
  height: 66px

  +tablet
    margin-top: 40px
    width: 220px
    height: 96px    

  +desktop
    margin-top: 40px
    width: 280px
    height: 122px

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */

#main
  > h2
    @extend %SweetSans-Medium
    font-size: 0.7em
    letter-spacing: 0.2em
    line-height: 1.5em
    text-transform: uppercase
    text-align: center

    +desktop
      font-size: $sx1
      line-height: 1.4em

  > button
    +img($c: contain)
    @extend %SweetSans-Medium
    font-size: 9px
    letter-spacing: 0.2em
    text-transform: uppercase
    background-image: url('../assets/button-default.svg')
    background-color: $white
    border: none
    transition: all 0.3s ease-in

    +desktop
      font-size: 11px

    &:hover
      +img($c: contain)
      background-image: url('../assets/button-active.svg')

.celebration

  > h2
    @extend %Eaves-Italic
    color: $orange
    text-align: center
    letter-spacing: 0.03em
    
    +tablet
      font-size: 22px
    +desktop
      font-size: 32px


  