/* Resets & Tools */

@import 'reset'

@import 'mixins'

@import 'variables'


/* SITE CONTEXT -> Global styles */

h1, h2, h3, h5, a

p


html 
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body

img
  width: 100%
  box-sizing: border-box

/* Global Styles */

section
  p 
    @extend %Eaves-Roman
    width: 250px
    margin: 0 auto
    color: $black
    font-size: $sx2
    text-align: center


/* Styles ... */

@import 'header'

@import 'main'